In [6]:
import pandas as pd

In [11]:
df = pd.read_csv('../resource/deepjit_data/qt.csv', header=0, index_col=0)

In [12]:
df_s = df.sort_values('author_date')
df_s

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
17612,8aa4ee14cecaa0dbcb3513f57bdc5ba8e22fe4db,1308350292,0,0,16,0,1,1,1,0.000000,...,NaN,NaN,0.000000,0.000000,0.000000,16,False,False,0.000000,0
5765,2cf935b43e41c6589159536652412dab443ff1f8,1308385331,0,0,29,16,3,1,1,0.911183,...,1.0,4.0,0.032787,0.016393,0.040984,45,False,False,0.000000,0
24059,be6b251b7ba443875a37ad77cb5a6dce7aa3b93d,1308385435,0,0,182,0,11,1,11,0.302924,...,NaN,NaN,0.000000,0.000000,0.000000,182,False,False,0.000000,0
8846,451f3b3785ea5d08f5092978b6ebe17f25ef7a88,1308408833,1,0,154,13,7,2,2,0.573503,...,5.0,5.0,0.042254,0.042254,0.042254,167,True,False,0.005988,0
15570,7a64f12cfe03b673ebb3c5e9e0396c6a504620d8,1308430230,1,0,40,18,4,1,1,0.612318,...,NaN,NaN,0.000000,0.000000,0.000000,58,True,False,0.017241,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,04edeafade9058bde6d6dd58e6b1a89bace2fd50,1395077890,0,1,30,4,1,1,1,0.000000,...,151.0,339.0,0.013507,0.007439,0.016639,34,False,True,0.000000,5
32072,ff3dcc49c4a1912189091e35e87cb61af2f62d47,1395080509,1,0,1,0,1,1,1,0.000000,...,655.0,655.0,0.021385,0.032102,0.032102,1,True,False,1.000000,5
2505,13171e7e63bc5199d783e33decf7f402019d05cc,1395083885,0,0,3,0,1,1,1,0.000000,...,173.0,636.0,0.022999,0.008514,0.031170,3,False,False,0.000000,5
31442,fa24ef3d721a7b94d0c5abbc6c9558e74bdb0f3d,1395087964,0,0,130,130,7,3,2,0.788875,...,3771.0,3771.0,0.097177,0.184567,0.184567,260,False,False,0.000000,5
6605,33bd1e08d0043e9b1340898039562bdf595879b5,1395090475,0,1,17,12,1,1,1,0.000000,...,225.0,478.0,0.021284,0.011058,0.023437,29,False,True,0.000000,5

In [13]:
df_s['strata'].value_counts()

strata
1    5934
4    4568
3    4298
2    4128
0    4032
5    2190
Name: count, dtype: int64

In [15]:
df_latest = df_s[df_s['strata'] == 5]

In [16]:
import pickle
with open('../resource/in_its_data4/qt_test.pkl', 'rb') as f:
    load = pickle.load(f)

In [17]:
len(load[5])

2052

In [18]:
train_df = df_s[df_s['commit_id'].isin(load[0])]
train_df['buggy'].value_counts()

buggy
False    1933
True      119
Name: count, dtype: int64

In [11]:
df_4_commit = df_latest[df_latest['commit_id'].isin(load[0])]
df_4_commit['buggy'].value_counts()

buggy
False    1933
True      119
Name: count, dtype: int64

In [3]:
tmp = tuple([0,1,1])

In [4]:
tmp[:-1]

(0, 1)

In [5]:
tmp = tuple([0,1])

In [6]:
tmp[:-1]

(0,)