In [4]:
import pandas as pd

In [15]:
df = pd.read_csv('../resource/deepjit_data/openstack.csv', header=0, index_col=0)

In [16]:
df_s = df.sort_values('author_date')
df_s

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
18339,adf912b98c527f5f92686543963c1665dee8c119,1322599384,0,0,9,9,3,1,1,0.905713,...,72.0,76.0,0.027778,0.253472,0.267361,18,False,False,0.0,0
1337,0d54770ee109bc7d598539b9238affdd1880997b,1322601845,0,0,275,242,8,5,1,0.583216,...,196.0,201.0,0.114187,0.681661,0.698962,517,False,False,0.0,0
170,01afc61e6201ea22926f27e82280f0b3c6f2362f,1322641653,0,0,2,4,1,1,1,0.000000,...,101.0,146.0,0.224138,0.351724,0.506897,6,False,False,0.0,0
19221,b69e89f60c635f1e0fb5e25696e3b5ad26416b56,1322646323,0,0,25,0,2,2,1,0.402179,...,130.0,130.0,0.230241,0.450172,0.450172,25,False,False,0.0,0
13134,7c11490677bc49086271ee377e6a8076eebe15f6,1322652300,0,0,19,1,2,2,1,0.609840,...,150.0,151.0,0.232877,0.517123,0.520548,20,False,False,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25569,f3aafeb2f948936d2f5bad8008d829412289d309,1393579237,0,0,1777,356,20,7,1,0.748194,...,1030.0,1033.0,0.004040,0.694276,0.696296,2133,False,False,0.0,4
3357,209c09a76f5e90aaa2899804686e6a513703d887,1393582789,0,0,2,0,1,1,1,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,2,False,False,0.0,4
3269,1fdc4afa157887d45e2f326d7373a5b1e8ee7aeb,1393586852,0,0,180,333,90,39,1,0.846758,...,703.0,703.0,0.000268,0.094218,0.094218,513,False,False,0.0,4
18048,aaf5762be5d37cac022dc321b6400b9743a25303,1393589300,0,1,4,8,2,2,1,0.413817,...,2630.0,2634.0,0.004550,0.352067,0.352603,12,False,True,0.0,4
5866,3824051b1e5618388a17c88867a3037397bc96b7,1393590699,0,1,31,8,2,2,1,0.858231,...,705.0,727.0,0.011105,0.094461,0.097404,39,False,True,0.0,4

In [17]:
df_s['strata'].value_counts()

strata
3    3781
2    2864
1    2560
0    1669
4    1500
Name: count, dtype: int64

In [18]:
df_latest = df_s[df_s['strata'] == 4]

In [1]:
import pickle
with open('../resource/pre_process_data/qt_test.pkl', 'rb') as f:
    load = pickle.load(f)

In [14]:
len(load[5])

2052

In [3]:
train_df = df_s[df_s['commit_id'].isin(load[0])]
train_df['buggy'].value_counts()

NameError: name 'df_s' is not defined

In [11]:
df_4_commit = df_latest[df_latest['commit_id'].isin(load[0])]
df_4_commit['buggy'].value_counts()

buggy
False    1933
True      119
Name: count, dtype: int64

In [3]:
tmp = tuple([0,1,1])

In [4]:
tmp[:-1]

(0, 1)

In [5]:
tmp = tuple([0,1])

In [6]:
tmp[:-1]

(0,)